{
  "swagger": "2.0",
  "info": {
    "description": "This is a Phone.com api Swagger definition",
    "version": "1.0.0",
    "title": "Phone.com API",
    "contact": {
      "email": "apisupport@phone.com"
    }
  },
  "host": "api.phone.com",
  "basePath": "/v4",
  "tags": [
    {
      "name": "calls",
      "description": "This API places a call to the caller phone number (or caller extension ID). If that number (or extension) answers within the timeout period, then the callee DID (or extension) will be connected to the call. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Calls API with the following definition: https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/calls",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-calls"
      }
    },
    {
      "name": "oauth",
      "description": "The OAuth 2.0 Authorization Framework enables a third-party application to obtain limited access to HTTP API requests which require an access token. This page describes how to use the /oauth/authorization and /oauth/access-token API's to generate an access token.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/oauth"
      }
    },
    {
      "name": "accounts",
      "description": "This page gives an overview of how to interact with your accounts.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/accounts"
      }
    },
    {
      "name": "applications",
      "description": "Applications are references to your own software integrations that are registered to interact with your Phone.com account.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-applications"
      }
    },
    {
      "name": "call-logs",
      "description": "The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-call-logs"
      }
    },
    {
      "name": "devices",
      "description": "Your Phone.com account may have one or more physical handsets or other VoIP devices associated with it. This service only shows generic VoIP devices at this time. If you have any physical handsets or virtualized software-based devices, you will need to continue using the Control Panel to manage them.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-devices"
      }
    },
    {
      "name": "listeners",
      "description": "Call Event Listeners. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Listeners API with the following definition: https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners At the heart of every telephony system is the Events Engine. At Phone.com, our customers (and their call traffic) emit millions of events per day. These events play a key role in advanced integration opportunities such as CRM integration, security/auditing, and real-time contextual call control. The Listeners API Services aim to simplify and standardize the method in which events are extracted from our systems and processed. These services provide consistent interfaces for internal systems to log events, manage subscriptions, and provide interfaces for external systems (e.g. customer applications or integrations such as Salesforce CRM) to subscribe to account-specific events and manage the subscriptions. As of today, Phone.com supports the following events. More events will be added as we continue to upgrade our phone services. - call.new - call.update - call.complete - call.log - sms.in - sms.out The \"call\" events help customers know when a call starts, when the callee answers the call, when a call ends and when a call entry is recorded and ready for retrieval. The \"sms\" events help customers know when a sms is sent or received. This provides enough information for applications such as Incoming Call / SMS Notification and others to improve productivities. More events will be added once we understand more about customer needs. The Listeners service provides an interface for internal and external applications to subscribe to events. Listeners can be added by customers to their Phone.com account using the Phoenix API. A listener sets up an event type and a callback URL, when the event is emitted, it will be forwarded to the URL. For example, a call.new event may be setup with a callback URL http://newcall.phone.com, when an inbound call comes in, the event with all the call info (payload) will be forwarded to http://newcall.phone.com.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-listeners"
      }
    },
    {
      "name": "express-service-codes",
      "description": "An Express Service Code is required when a customer calls Phone.com for support. With the following services, customer may retrieve the Express Service Code associated with his/her account.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-express-srv-codes"
      }
    },
    {
      "name": "extensions",
      "description": "Your Phone.com account will have one or more extensions.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-extensions"
      }
    },
    {
      "name": "caller-ids",
      "description": "API users with Extension scope access token does not have access to the Phone Number API. This API helps user to retrieve available account phone numbers to be used as caller id via the /Calls API. Outgoing calls via the Post /calls API supports Caller ID settings. This page gives an overview on how to retrieve the list of available account phone number to be used as caller ID.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-extension-caller-ids"
      }
    },
    {
      "name": "contacts",
      "description": "Each extension at Phone.com can have its own address book with any number of contacts. This page gives an overview.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-extension-contacts"
      }
    },
    {
      "name": "groups",
      "description": "The entries in an extension's address book can be divided into any number of groups. This page gives an overview.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-extension-contact-groups"
      }
    },
    {
      "name": "media",
      "description": "Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Media API with the following definition: https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/media. Your Phone.com account has two kinds of media that can be used in various ways: Hold Music and Greetings. Hold Music can be used in routes, queues, and anywhere the caller might be placed on hold. Your account has access to a set of standard hold music options, and optionally another set of premium hold music options. You can also upload your own hold music, subject to copyright limitations. Greetings are verbal messages that can be played in various places to provide the caller with important information. For example, greetings are used when a caller first enters a menu or if they enter an invalid option. You also might use a greeting to alert the user to the fact that their call is being recorded.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/list-account-media"
      }
    },
    {
      "name": "menus",
      "description": "We've all been on the consuming side of a phone menu before. You call a company and hear, \"Press '1' for Sales. Press '2' for Support. Press '0' for the operator.\" With Phone.com you can create your own menus!",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-menus"
      }
    },
    {
      "name": "oauth-clients",
      "description": "Phone.com API supports OAuth 2.0 Authorization Framework, which enables a third-party application (client) to obtain limited access to HTTP API requests. This page describes how to use the /oauth/clients API to list, get and delete client.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-oauth-clients"
      }
    },
    {
      "name": "oauth-clients-redirect-uris",
      "description": "The Account OAuth Clients API supports redirect-uri. Since an OAuth Client is created by a Phone.com admin who does not know what redirect uris should be assigned, API users may use the OAuth Client Redirect URIs API to create, list, get and delete redirect uris.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-oauth-clients-redirect-uris"
      }
    },
    {
      "name": "payment-methods",
      "description": "Phone.com accepts credit card payment, and the Account Payment Methods API allows users to add, list, get, update and delete a credit card payment method.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-payment-methods"
      }
    },
    {
      "name": "phone-numbers",
      "description": "Your Phone.com account has one or more phone numbers registered to it.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-phone-numbers"
      }
    },
    {
      "name": "queues",
      "description": "Queues are used when you want to direct calls to a pool of phone numbers and/or extensions. A common utilization of queues is for Customer Service call centers. When a queue is configured on your phone number, Phone.com will route incoming calls to members of the queue. If a queue member is already on another call, our service rings the next phone number or extension in the queue. While your callers are waiting to be connected, you can choose to play Hold Music.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-queues"
      }
    },
    {
      "name": "routes",
      "description": "Routes, a.k.a. \"Call Handling Rules\" or \"Presets\", are used to tell Phone.com how to handle incoming phone calls. They can be used to connect your Phone.com phone number to an extension, a menu, a calling queue, or many other things. The fundamental element of a route is an action. We support many different actions such as forward, menu, and voicemail. See below for the full details. In general, actions are processed one at a time in the order you specify, until the call is answered or disconnected. Answering or disconnecting stops any additional actions from being performed. Note that several actions such as voicemail, menu, and fax completely take over processing the call and do not result in processing any subsequent actions. Actions are grouped into rule sets. Rule sets can be filtered based on the time of day or the caller's phone number. When processing an incoming call, Phone.com's routing engine will evaluate each rule set in the order that was specified when the route was created or updated. The first matching rule set will be used, and all other rule sets will be ignored. Each route must have at least one unfiltered rule set. Note that if your route contains multiple unfiltered rule sets, only the first one will be used.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-routes"
      }
    },
    {
      "name": "schedules",
      "description": "Schedules are used at various places in your Phone.com account. A schedule can specify a recurring weekly pattern such as \"Monday through Friday\" or a single time period such as \"Thanksgiving Weekend 2015\".",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-schedules"
      }
    },
    {
      "name": "sms",
      "description": "The Phone.com /sms service lets you send and show history of SMS messages. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level SMS API with the following definition: https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/sms. Phone.com’s standard phone service lets you send and receive SMS messages using your Phone.com numbers. The Phone.com API extends this functionality, letting you send SMS messages from your application (through your phone number and our API server) to your users. You can also use the API to retrieve the history of sms sent from / delivered to your account.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-sms"
      }
    },
    {
      "name": "subaccounts",
      "description": "This page gives an overview of how to interact with your subaccounts. Subaccounts are the same as master accounts in terms of the functionality Phone.com supports. The main difference is that subaccounts are grouped with their master account for invoicing purposes.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/subaccounts"
      }
    },
    {
      "name": "pricing",
      "description": "This page gives an overview of how a Phone.com Master Account manages its pricing plan (coupon code) for its Subaccounts. API Token with Billing Scope: Your Phone.com account API token must have Billing Scope enabled in order to use any of our pricing services. Please contact Support if you need this.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-subaccount-pricing"
      }
    },
    {
      "name": "trunks",
      "description": "SIP Trunks are used to connect your Phone.com account to your PBX. SIP Trunking Customers Only: Your Phone.com account must have SIP Trunking enabled in order to use any of our trunking features. Please contact Support if you need this. Otherwise, all requests to these services will result in a 403 Forbidden error.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-trunks"
      }
    },
    {
      "name": "voicemail",
      "description": "Phone.com’s standard phone service allows callers leave voicemail if the incoming call was not answered. The /voicemail services show history of voicemail and allow users download voicemail for offline playback. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Voicemail API with the following definition: https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/voicemail",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/account-voicemail"
      }
    },
    {
      "name": "available-numbers",
      "description": "This service lists phone numbers that are available for purchase through Phone.com.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/available-phone-numbers"
      }
    },
    {
      "name": "number-regions",
      "description": "This service shows the quantities of phone numbers available for purchase, using region-based grouping.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://apidocs.phone.com/docs/available-phone-number-regions"
      }
    }
  ],
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "paths": {
    "/ping": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "The default API command",
        "description": "The default API command",
        "operationId": "ping",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PingResponse"
            }
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/oauth/access-token": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Retrieve details of an access token, such as scope, expiration and extension ID.",
        "description": "Retrieve details of an access token, such as scope, expiration and extension ID. Voip ID will be returned as well if scope contains account-owner scope.",
        "operationId": "get-oauth-access-token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetOauthAccessToken"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth"
        ],
        "summary": "To create an access token via the /oauth/access-token API, an API user may choose any one of the grant types it supports: Authorization Code Grant, Client Credential Grant, Password Credential Grant or Refresh Token Grant.",
        "description": "To create an access token via the /oauth/access-token API, an API user may choose any one of the grant types it supports: Authorization Code Grant, Client Credential Grant, Password Credential Grant or Refresh Token Grant. For Authorization Code Grant, the input parameter 'code' is generated via the Create Authorization API. NOTE: The Create Access Token API now accepts requests in query string format as well as JSON body format. See OAuth for more details on how to obtain client id and client secret to create an access token at real time.",
        "operationId": "create-oauth-access-token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Oauth data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateOauthParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OauthAccessToken"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/oauth/authorization": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Create Authorization Code or Access Token.",
        "description": "Create Authorization Code or Access Token. The /oauth/authorization API supports Authorization Grant and Implicit Grant. In Authorization Grant, this API returns a code (response_type=code) for clients implemented in a browser using a scripting language such as JavaScript. Users may then use the code via the Create Access Token API to create an access token. The Implicit Grant is a simplified authorization code flow. In the implicit flow, instead of issuing the client an authorization code, the client is issued an access token (response_type=token) directly. See OAuth for more details on how to obtain client id and client secret to create authorization code access token at real time.",
        "operationId": "create-oauth-authorization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Client ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "'token' for Implicit Grant; 'code' for Authorization Code Grant",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "account-owner, extension-user and/or methods:ALL, separated by space (%20)",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "The URL where the response data of this API is redirected to",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "302": {
            "description": "http://localhost/?code=mRxUuwgl0Xgjg8fIjweikoJPb1aaMBU8bt706656~6&state="
          },
          "401": {
            "$ref": "#/responses/response401"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get a list of accounts visible to the authenticated user or client.",
        "description": "Get a list of accounts visible to the authenticated user or client. In most cases, there will only be one such account. See Accounts for more info on the properties.",
        "operationId": "list-accounts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAccounts"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Retrieve details of an individual account",
        "description": "Retrieve details of an individual account. See Accounts for more info on the properties.",
        "operationId": "get-account",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/{account_id}/applications": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "applications"
        ],
        "summary": "This service lists the Applications on a given account",
        "description": "Show details of an individual Application on a given account.",
        "operationId": "list-account-applications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListApplications"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/applications/{application_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "applications"
        ],
        "summary": "Show details of an individual Application on a given account.",
        "description": "Show details of an individual Application on a given account.",
        "operationId": "get-account-application",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "Application ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      }
    },
    "/accounts/{account_id}/calls": {
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "calls"
        ],
        "summary": "Make a phone call",
        "description": "Make a phone call. See Calls for more details and how to setup caller id's. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Calls API with the following definition: POST https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/calls",
        "operationId": "create-account-call",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Call data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateCallParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CallFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/call-logs": {
      "get": {
        "tags": [
          "call-logs"
        ],
        "summary": "Get a list of call details associated with your account",
        "description": "Get a list of call details associated with your account. See Call Logs for more detail.",
        "operationId": "list-account-call-logs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterStartTimeParam"
          },
          {
            "$ref": "#/parameters/filterCreatedAtCallLogsParam"
          },
          {
            "$ref": "#/parameters/filterDirectionCallLogs"
          },
          {
            "$ref": "#/parameters/filterCalledNumber"
          },
          {
            "$ref": "#/parameters/filterType"
          },
          {
            "$ref": "#/parameters/filterExtension"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortStartTime"
          },
          {
            "$ref": "#/parameters/sortCreatedAtCallLogs"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCallLogs"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/{account_id}/call-logs/{call_id}": {
      "get": {
        "tags": [
          "call-logs"
        ],
        "summary": "Show details of an individual Call Log entry",
        "description": "Show details of an individual Call Log entry. See Call Logs for more detail.",
        "operationId": "get-account-call-logs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/callIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CallLogFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/{account_id}/devices": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "devices"
        ],
        "summary": "Get a list of VoIP devices associated with your account.",
        "description": "Get a list of VoIP devices associated with your account. See Devices for more detail.",
        "operationId": "list-account-devices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDevices"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "devices"
        ],
        "summary": "Register a generic VoIP device.",
        "description": "Register a generic VoIP device. See Devices for more detail.",
        "operationId": "create-account-device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Device data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateDeviceParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DeviceFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/devices/{device_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "devices"
        ],
        "summary": "Show details of an individual VoIP device.",
        "description": "Show details of an individual VoIP device. See Devices for more detail.",
        "operationId": "get-account-device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/deviceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeviceFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "devices"
        ],
        "summary": "Update the details of an individual VoIP device.",
        "description": "Update the details of an individual VoIP device. See Devices for more detail.",
        "operationId": "replace-account-device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/deviceIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Device data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateDeviceParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeviceFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "devices"
        ],
        "summary": "Delete a VoIP device.",
        "description": "Delete a VoIP device. See Devices for more detail.",
        "operationId": "delete-account-device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/deviceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/listeners": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "listeners"
        ],
        "summary": "Get a list of listeners for an account.",
        "description": "Get a list of listeners for an account. See Account Listeners for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level List Listeners API with the following definition: GET https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners",
        "operationId": "list-account-listeners",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListListeners"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "listeners"
        ],
        "summary": "Add a listener object to your account that can be used to subscribe an event.",
        "description": "Add a listener object to your account that can be used to subscribe an event. See Account Listeners for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Post Listener API with the following definition: POST https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners",
        "operationId": "create-account-listener",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Account Listeners Data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateListenerParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ListenerFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/listeners/{listener_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "listeners"
        ],
        "summary": "Show details of an individual listener.",
        "description": "Show details of an individual event listener. See Account Listeners for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Get Listener API with the following definition: GET https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners/:listener_id",
        "operationId": "get-account-listener",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/listenerIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListenerFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "listeners"
        ],
        "summary": "Update the settings of an individual event listener.",
        "description": "Update the settings of an individual event listener. See Event Listeners for more detail. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Replace Listener API with the following definition: PUT https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners/:listener_id",
        "operationId": "replace-account-listener",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/listenerIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Account Listeners Data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateListenerParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListenerFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "listeners"
        ],
        "summary": "Delete an individual event listener.",
        "description": "Delete an individual event listener. See Account Listeners for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Delete Listener API with the following definition: DELETE https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/listeners/:listener_id",
        "operationId": "delete-account-listener",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/listenerIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/express-service-codes": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "express-service-codes"
        ],
        "summary": "Get the Express Service Code associated with your account in list format.",
        "description": "Get the Express Service Code associated with your account in list format. See Express Service Codes for more detail.",
        "operationId": "list-account-express-srv-codes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListExpressServiceCodes"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/express-service-codes/{code_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "express-service-codes"
        ],
        "summary": "Show details of an account Express Service Code",
        "description": "This service shows the details of an Account Express Service Code.",
        "operationId": "get-account-express-srv-code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "code_id",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExpressServiceCodeFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "extensions"
        ],
        "summary": "Get a list of extensions visible to the authenticated user or client.",
        "description": "Get a list of extensions visible to the authenticated user or client. See extension for more details.",
        "operationId": "list-account-extensions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterExtension"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortExtension"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListExtensions"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "extensions"
        ],
        "summary": "Create an individual extension.",
        "description": "Create an individual extension. See extension for more details.",
        "operationId": "create-account-extension",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Account Extensions Data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateExtensionParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ExtensionFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "extensions"
        ],
        "summary": "Show details of an individual extension.",
        "description": "Show details of an individual extension. See extension for more details.",
        "operationId": "get-account-extension",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExtensionFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "extensions"
        ],
        "summary": "Replace an individual extension.",
        "description": "Replace an individual extension. See extension for more details.",
        "operationId": "replace-account-extension",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Account Extensions Data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReplaceExtensionParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExtensionFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}/caller-ids": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "caller-ids"
        ],
        "summary": "Show the Caller ID options a given extension can use.",
        "description": "Show the Caller ID options a given extension can use. See Intro to Caller IDs for more on the properties.",
        "operationId": "get-caller-ids",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/filterNumber"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortNumber"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCallerIds"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}/contacts": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Show the Caller ID options a given extension can use.",
        "description": "Show the Caller ID options a given extension can use. See Intro to Caller IDs for more on the properties.",
        "operationId": "list-account-extension-contacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterGroupId"
          },
          {
            "$ref": "#/parameters/filterUpdatedAt"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortUpdatedAt"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContacts"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Add a new address book contact for an extension.",
        "description": "Add a new address book contact for an extension. See Account Contacts for more info on the fields in each item.",
        "operationId": "create-account-extension-contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Contact data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateContactParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContactFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}/contacts/{contact_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Retrieve the details of an address book contact.",
        "description": "Retrieve the details of an address book contact. See Account Contacts for more info on the fields in each item.",
        "operationId": "get-account-extension-contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/contactIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Update the info of a contact in the address book.",
        "description": "Update the info of a contact in the address book. See Account Contacts for more info on the fields in each item.",
        "operationId": "replace-account-extension-contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/contactIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Contact data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateContactParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "contacts"
        ],
        "summary": "Delete a contact from the address book.",
        "description": "Delete a contact from the address book. See Account Contacts for more info on the fields in each item.",
        "operationId": "delete-account-extension-contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/contactIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}/contact-groups": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Show a list of contact groups belonging to an extension.",
        "description": "Show a list of contact groups belonging to an extension. See Account Contact Groups for details on the properties.",
        "operationId": "list-account-extension-contact-groups",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListGroups"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Add a new contact group to an account extension.",
        "description": "Add a new contact group to an account extension. See Account Contact Groups for details on the properties.",
        "operationId": "create-account-extension-contact-group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Group data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GroupFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/extensions/{extension_id}/contact-groups/{group_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Retrieve the information of a contact group.",
        "description": "Retrieve the information of a contact group. See Account Contact Groups for details on the properties.",
        "operationId": "get-account-extension-contact-group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Update the information of a contact group.",
        "description": "Update the information of a contact group. See Account Contact Groups for details on the properties.",
        "operationId": "replace-account-extension-contact-group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Group data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Delete a contact group from the address book.",
        "description": "Delete a contact group from the address book. See Account Contact Groups for details on the properties.",
        "operationId": "delete-account-extension-contact-group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/extensionIdParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/media": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Get a list of media recordings for an account.",
        "description": "Get a list of media recordings for an account. See Account Media for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level List Media API with the following definition: GET https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/media",
        "operationId": "list-account-media",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMedia"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/media/files": {
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Add a media object to your account that can be used as a greeting or hold music. Users may create a media by using the built-in Text-to-speech (TTS) facility or upload a file of their choice. (Note: The maximum size for media files or JSON objects included with a POST or PUT request is 10 MB)",
        "description": "See Account Media for more info on the properties.",
        "operationId": "create-account-media-files",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "json",
            "in": "formData",
            "description": "Media extra parameters",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Media file",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MediaFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/media/tts": {
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Add a media object to your account that can be used as a greeting or hold music. Users may create a media by using the built-in Text-to-speech (TTS) facility or upload a file of their choice. (Note: The maximum size for media files or JSON objects included with a POST or PUT request is 10 MB)",
        "description": "See Account Media for more info on the properties.",
        "operationId": "create-account-media-tts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Media data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateMediaParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MediaFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/media/files/{media_id}": {
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Update a media object to your account. Note: The maximum size for media files or JSON objects included with a POST or PUT request is 10 MB.",
        "description": "See Account Media for more info on the properties.",
        "operationId": "replace-account-media-files",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/mediaIdParam"
          },
          {
            "name": "json",
            "in": "formData",
            "description": "Media extra parameters",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Media file",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Replaced",
            "schema": {
              "$ref": "#/definitions/MediaFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/media/tts/{media_id}": {
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Update a media object to your account.",
        "description": "Update a media object to your account. Note: The maximum size for media files or JSON objects included with a POST or PUT request is 10 MB. See Account Media for more info on the properties. Note: This API is for users with Account Owner scope access token. Users with Extension User scope token should invoke the Extension level Replace Media API with the following definition: PUT https://api.phone.com/v4/accounts/:account_id/extensions/:extension_id/media/:media_id",
        "operationId": "replace-account-media-tts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/mediaIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Media data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateMediaParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Replaced",
            "schema": {
              "$ref": "#/definitions/MediaFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/media/{media_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Show details of an individual media recording (Greeting or Hold Music)",
        "description": "Get individual media recording",
        "operationId": "get-account-media",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/mediaIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "media"
        ],
        "summary": "Delete an individual media record",
        "description": "See Account Media for more info on the properties.",
        "operationId": "delete-account-media",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/mediaIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "409": {
            "$ref": "#/responses/response409"
          }
        }
      }
    },
    "/accounts/{account_id}/menus": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "menus"
        ],
        "summary": "Get a list of menus for an account.",
        "description": "Get a list of menus for an account. See Account Menus for more info on the properties.",
        "operationId": "list-account-menus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/filterNameParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/sortNameParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMenus"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "menus"
        ],
        "summary": "Create an individual menu.",
        "description": "Create an individual menu. See Account Menus for more info on the properties.",
        "operationId": "create-account-menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Menu data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateMenuParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MenuFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/menus/{menu_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "menus"
        ],
        "summary": "Show details of an individual menu.",
        "description": "Show details of an individual menu. See Account Menus for more info on the properties.",
        "operationId": "get-account-menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/menuIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MenuFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "put": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "menus"
        ],
        "summary": "Replace an individual menu.",
        "description": "Replace an individual menu. See Account Menus for more info on the properties.",
        "operationId": "replace-account-menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/menuIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Menu data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReplaceMenuParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MenuFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "menus"
        ],
        "summary": "Delete an individual menu.",
        "description": "Delete an individual menu. See Account Menus for more info on the properties.",
        "operationId": "delete-account-menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/menuIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "409": {
            "$ref": "#/responses/response409"
          }
        }
      }
    },
    "/accounts/{account_id}/oauth/clients": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients"
        ],
        "summary": "Get a list of OAuth clients for an account.",
        "description": "Get a list of OAuth clients for an account. See Account OAuth Clients for more info on the properties.",
        "operationId": "list-account-oauth-clients",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOauthClients"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      }
    },
    "/accounts/{account_id}/oauth/clients/{client_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients"
        ],
        "summary": "Show details of an individual OAuth client.",
        "description": "Show details of an individual OAuth client. See Account OAuth Clients for more info on the properties.",
        "operationId": "get-account-oauth-client",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OauthClientFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients"
        ],
        "summary": "Delete an individual OAuth client.",
        "description": "Delete an individual OAuth client. See Account OAuth Clients for more info on the properties.",
        "operationId": "delete-account-oauth-client",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "409": {
            "$ref": "#/responses/response409"
          }
        }
      }
    },
    "/accounts/{account_id}/oauth/clients/{client_id}/redirect-uris": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients-redirect-uris"
        ],
        "summary": "Get a list of OAuth Client Redirect URIs for an account.",
        "description": "Get a list of OAuth Client Redirect URIs for an account.",
        "operationId": "list-account-oauth-clients-redirect-uris",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOauthClientsRedirectUris"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients-redirect-uris"
        ],
        "summary": "Create an OAuth Client Redirect URI record.",
        "description": "Create an OAuth Client Redirect URI record.",
        "operationId": "create-account-oauth-clients-redirect-uri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Redirect Uri data",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateRedirectUriParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OauthClientRedirectUriFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/oauth/clients/{client_id}/redirect-uris/{uri_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients-redirect-uris"
        ],
        "summary": "Get details of an OAuth Client Redirect URI record.",
        "description": "Get details of an OAuth Client Redirect URI record.",
        "operationId": "get-account-oauth-clients-redirect-uri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/uriIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OauthClientRedirectUriFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          }
        }
      },
      "delete": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "oauth-clients-redirect-uris"
        ],
        "summary": "Delete an OAuth Client Redirect URI record.",
        "description": "Delete an OAuth Client Redirect URI record.",
        "operationId": "delete-account-oauth-clients-redirect-uri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/uriIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteEntry"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "404": {
            "$ref": "#/responses/response404"
          },
          "409": {
            "$ref": "#/responses/response409"
          }
        }
      }
    },
    "/accounts/{account_id}/payment-methods": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "payment-methods"
        ],
        "summary": "Get a list of payment methods for an account.",
        "description": "Get a list of payment methods for an account. See Account Payment Methods for more info on the properties.",
        "operationId": "list-account-payment-methods",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/filterIdParam"
          },
          {
            "$ref": "#/parameters/sortIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPaymentMethods"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          }
        }
      },
      "post": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
          "payment-methods"
        ],
        "summary": "Create an individual payment method.",
        "description": "Create an individual payment method. See Account Payment Methods for more info on the properties.",
        "operationId": "create-account-payment-method",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Payment data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePaymentParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PaymentFull"
            }
          },
          "401": {
            "$ref": "#/responses/response401"
          },
          "403": {
            "$ref": "#/responses/response403"
          },
          "422": {
            "$ref": "#/responses/response422"
          }
        }
      }
    },
    "/accounts/{account_id}/payment-methods/{pm_id}": {
      "get": {
        "security": [
          {
            "apiKey": []
          }
        ],
        "tags": [
[...]
