=begin
#Phone.com API

#This is a Phone.com api Swagger definition

OpenAPI spec version: 1.0.0
Contact: apisupport@phone.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CalleridsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Show the Caller ID options a given extension can use
    # Get Caller ID
    # @param account_id Account ID
    # @param extension_id Extension ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filters_number Number filter
    # @option opts [Array<String>] :filters_name Name filter
    # @option opts [String] :sort_number Number sorting
    # @option opts [String] :sort_name Name sorting
    # @option opts [Integer] :limit Max results
    # @option opts [Integer] :offset Results to skip
    # @option opts [String] :fields Field set
    # @return [ListCallerIds]
    def get_caller_ids(account_id, extension_id, opts = {})
      data, _status_code, _headers = get_caller_ids_with_http_info(account_id, extension_id, opts)
      return data
    end

    # Show the Caller ID options a given extension can use
    # Get Caller ID
    # @param account_id Account ID
    # @param extension_id Extension ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filters_number Number filter
    # @option opts [Array<String>] :filters_name Name filter
    # @option opts [String] :sort_number Number sorting
    # @option opts [String] :sort_name Name sorting
    # @option opts [Integer] :limit Max results
    # @option opts [Integer] :offset Results to skip
    # @option opts [String] :fields Field set
    # @return [Array<(ListCallerIds, Fixnum, Hash)>] ListCallerIds data, response status code and response headers
    def get_caller_ids_with_http_info(account_id, extension_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CalleridsApi.get_caller_ids ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling CalleridsApi.get_caller_ids" if account_id.nil?
      # verify the required parameter 'extension_id' is set
      fail ArgumentError, "Missing the required parameter 'extension_id' when calling CalleridsApi.get_caller_ids" if extension_id.nil?
      if !opts[:'sort_number'].nil? && opts[:'sort_number'] !~ Regexp.new(/asc|desc/)
        fail ArgumentError, "invalid value for 'opts[:\"sort_number\"]' when calling CalleridsApi.get_caller_ids, must conform to the pattern /asc|desc/."
      end

      if !opts[:'sort_name'].nil? && opts[:'sort_name'] !~ Regexp.new(/asc|desc/)
        fail ArgumentError, "invalid value for 'opts[:\"sort_name\"]' when calling CalleridsApi.get_caller_ids, must conform to the pattern /asc|desc/."
      end

      # resource path
      local_var_path = "/accounts/{account_id}/extensions/{extension_id}/caller-ids".sub('{format}','json').sub('{' + 'account_id' + '}', account_id.to_s).sub('{' + 'extension_id' + '}', extension_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filters[number]'] = @api_client.build_collection_param(opts[:'filters_number'], :multi) if !opts[:'filters_number'].nil?
      query_params[:'filters[name]'] = @api_client.build_collection_param(opts[:'filters_name'], :multi) if !opts[:'filters_name'].nil?
      query_params[:'sort[number]'] = opts[:'sort_number'] if !opts[:'sort_number'].nil?
      query_params[:'sort[name]'] = opts[:'sort_name'] if !opts[:'sort_name'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListCallerIds')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalleridsApi#get_caller_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
