=begin
#Phone.com API

#This is a Phone.com api Swagger definition

OpenAPI spec version: 1.0.0
Contact: apisupport@phone.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CallsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Make a phone call
    # 
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreateCallParams] :data Call data
    # @return [CallFull]
    def create_account_calls(account_id, opts = {})
      data, _status_code, _headers = create_account_calls_with_http_info(account_id, opts)
      return data
    end

    # Make a phone call
    # 
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreateCallParams] :data Call data
    # @return [Array<(CallFull, Fixnum, Hash)>] CallFull data, response status code and response headers
    def create_account_calls_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CallsApi.create_account_calls ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling CallsApi.create_account_calls" if account_id.nil?
      # resource path
      local_var_path = "/accounts/{account_id}/calls".sub('{format}','json').sub('{' + 'account_id' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CallFull')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#create_account_calls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
