=begin
#Phone.com API

#This is a Phone.com api Swagger definition

OpenAPI spec version: 1.0.0
Contact: apisupport@phone.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class SubaccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a subaccount for the authenticated user or client
    # This service shows the details of an individual Subaccount.
    # @param account_id Account ID
    # @param data SMS data
    # @param [Hash] opts the optional parameters
    # @return [AccountFull]
    def create_account_subaccount(account_id, data, opts = {})
      data, _status_code, _headers = create_account_subaccount_with_http_info(account_id, data, opts)
      return data
    end

    # Add a subaccount for the authenticated user or client
    # This service shows the details of an individual Subaccount.
    # @param account_id Account ID
    # @param data SMS data
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountFull, Fixnum, Hash)>] AccountFull data, response status code and response headers
    def create_account_subaccount_with_http_info(account_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SubaccountsApi.create_account_subaccount ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling SubaccountsApi.create_account_subaccount" if account_id.nil?
      # verify the required parameter 'data' is set
      fail ArgumentError, "Missing the required parameter 'data' when calling SubaccountsApi.create_account_subaccount" if data.nil?
      # resource path
      local_var_path = "/accounts/{account_id}/subaccounts".sub('{format}','json').sub('{' + 'account_id' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(data)
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountFull')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsApi#create_account_subaccount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of subaccounts for the authenticated user or client
    # This service lists the Subaccount of the authenticated client. In most cases, there will not be any.
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filters_id ID filter
    # @option opts [String] :sort_id ID sorting
    # @option opts [Integer] :limit Max results
    # @option opts [Integer] :offset Results to skip
    # @option opts [String] :fields Field set
    # @return [ListAccounts]
    def list_account_subaccounts(account_id, opts = {})
      data, _status_code, _headers = list_account_subaccounts_with_http_info(account_id, opts)
      return data
    end

    # Get a list of subaccounts for the authenticated user or client
    # This service lists the Subaccount of the authenticated client. In most cases, there will not be any.
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filters_id ID filter
    # @option opts [String] :sort_id ID sorting
    # @option opts [Integer] :limit Max results
    # @option opts [Integer] :offset Results to skip
    # @option opts [String] :fields Field set
    # @return [Array<(ListAccounts, Fixnum, Hash)>] ListAccounts data, response status code and response headers
    def list_account_subaccounts_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SubaccountsApi.list_account_subaccounts ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling SubaccountsApi.list_account_subaccounts" if account_id.nil?
      if !opts[:'sort_id'].nil? && opts[:'sort_id'] !~ Regexp.new(/asc|desc/)
        fail ArgumentError, "invalid value for 'opts[:\"sort_id\"]' when calling SubaccountsApi.list_account_subaccounts, must conform to the pattern /asc|desc/."
      end

      # resource path
      local_var_path = "/accounts/{account_id}/subaccounts".sub('{format}','json').sub('{' + 'account_id' + '}', account_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filters[id]'] = @api_client.build_collection_param(opts[:'filters_id'], :multi) if !opts[:'filters_id'].nil?
      query_params[:'sort[id]'] = opts[:'sort_id'] if !opts[:'sort_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListAccounts')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsApi#list_account_subaccounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
