# coding: utf-8

"""
    Phone.com API

    This is a Phone.com api Swagger definition

    OpenAPI spec version: 1.0.0
    Contact: apisupport@phone.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class CalllogsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_account_call_logs(self, account_id, call_id, **kwargs):
        """
        Show details of an individual Call Log entry
        See Call Logs for more detail.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_account_call_logs(account_id, call_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param str call_id: Call ID (required)
        :return: CallLogFull
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_account_call_logs_with_http_info(account_id, call_id, **kwargs)
        else:
            (data) = self.get_account_call_logs_with_http_info(account_id, call_id, **kwargs)
            return data

    def get_account_call_logs_with_http_info(self, account_id, call_id, **kwargs):
        """
        Show details of an individual Call Log entry
        See Call Logs for more detail.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_account_call_logs_with_http_info(account_id, call_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param str call_id: Call ID (required)
        :return: CallLogFull
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'call_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_account_call_logs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `get_account_call_logs`")
        # verify the required parameter 'call_id' is set
        if ('call_id' not in params) or (params['call_id'] is None):
            raise ValueError("Missing the required parameter `call_id` when calling `get_account_call_logs`")


        collection_formats = {}

        resource_path = '/accounts/{account_id}/call-logs/{call_id}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'call_id' in params:
            path_params['call_id'] = params['call_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CallLogFull',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def list_account_call_logs(self, account_id, **kwargs):
        """
        Get a list of call details associated with your account
        See Call Logs for more detail.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_account_call_logs(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param list[str] filters_id: ID filter
        :param list[str] filters_start_time: Call start time filter
        :param str filters_created_at: Call log creation time filter
        :param str filters_direction: Call direction filter: in or out
        :param str filters_called_number: Called number
        :param str filters_type: Call type, such as 'call', 'fax', 'audiogram'
        :param list[str] filters_extension: Extension filter
        :param str sort_id: ID sorting
        :param str sort_start_time: Sorting by call start time: asc or desc
        :param str sort_created_at: Sorting by call log creation time: asc or desc
        :param int limit: Max results
        :param int offset: Results to skip
        :param str fields: Field set
        :return: ListCallLogs
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.list_account_call_logs_with_http_info(account_id, **kwargs)
        else:
            (data) = self.list_account_call_logs_with_http_info(account_id, **kwargs)
            return data

    def list_account_call_logs_with_http_info(self, account_id, **kwargs):
        """
        Get a list of call details associated with your account
        See Call Logs for more detail.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_account_call_logs_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param list[str] filters_id: ID filter
        :param list[str] filters_start_time: Call start time filter
        :param str filters_created_at: Call log creation time filter
        :param str filters_direction: Call direction filter: in or out
        :param str filters_called_number: Called number
        :param str filters_type: Call type, such as 'call', 'fax', 'audiogram'
        :param list[str] filters_extension: Extension filter
        :param str sort_id: ID sorting
        :param str sort_start_time: Sorting by call start time: asc or desc
        :param str sort_created_at: Sorting by call log creation time: asc or desc
        :param int limit: Max results
        :param int offset: Results to skip
        :param str fields: Field set
        :return: ListCallLogs
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'filters_id', 'filters_start_time', 'filters_created_at', 'filters_direction', 'filters_called_number', 'filters_type', 'filters_extension', 'sort_id', 'sort_start_time', 'sort_created_at', 'limit', 'offset', 'fields']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_account_call_logs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `list_account_call_logs`")

        if 'filters_created_at' in params and not re.search('^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*', params['filters_created_at']):
            raise ValueError("Invalid value for parameter `filters_created_at` when calling `list_account_call_logs`, must conform to the pattern `/^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*/`")
        if 'filters_direction' in params and not re.search('^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*', params['filters_direction']):
            raise ValueError("Invalid value for parameter `filters_direction` when calling `list_account_call_logs`, must conform to the pattern `/^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*/`")
        if 'filters_called_number' in params and not re.search('^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*', params['filters_called_number']):
            raise ValueError("Invalid value for parameter `filters_called_number` when calling `list_account_call_logs`, must conform to the pattern `/^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*/`")
        if 'filters_type' in params and not re.search('^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*', params['filters_type']):
            raise ValueError("Invalid value for parameter `filters_type` when calling `list_account_call_logs`, must conform to the pattern `/^eq:.*|^ne:.*|^lt:.*|^gt:.*|^lte:.*|^gte:.*|^starts-with:.*|^ends-with:.*|^contains:.*|^not-starts-with:.*|^not-ends-with:.*|^not-contains:.*|^between:.*,.*|^not-between:.*,.*/`")
        if 'sort_id' in params and not re.search('asc|desc', params['sort_id']):
            raise ValueError("Invalid value for parameter `sort_id` when calling `list_account_call_logs`, must conform to the pattern `/asc|desc/`")
        if 'sort_start_time' in params and not re.search('asc|desc', params['sort_start_time']):
            raise ValueError("Invalid value for parameter `sort_start_time` when calling `list_account_call_logs`, must conform to the pattern `/asc|desc/`")
        if 'sort_created_at' in params and not re.search('asc|desc', params['sort_created_at']):
            raise ValueError("Invalid value for parameter `sort_created_at` when calling `list_account_call_logs`, must conform to the pattern `/asc|desc/`")

        collection_formats = {}

        resource_path = '/accounts/{account_id}/call-logs'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']

        query_params = {}
        if 'filters_id' in params:
            query_params['filters[id]'] = params['filters_id']
            collection_formats['filters[id]'] = 'multi'
        if 'filters_start_time' in params:
            query_params['filters[start_time]'] = params['filters_start_time']
            collection_formats['filters[start_time]'] = 'multi'
        if 'filters_created_at' in params:
            query_params['filters[created_at]'] = params['filters_created_at']
        if 'filters_direction' in params:
            query_params['filters[direction]'] = params['filters_direction']
        if 'filters_called_number' in params:
            query_params['filters[called_number]'] = params['filters_called_number']
        if 'filters_type' in params:
            query_params['filters[type]'] = params['filters_type']
        if 'filters_extension' in params:
            query_params['filters[extension]'] = params['filters_extension']
            collection_formats['filters[extension]'] = 'multi'
        if 'sort_id' in params:
            query_params['sort[id]'] = params['sort_id']
        if 'sort_start_time' in params:
            query_params['sort[start_time]'] = params['sort_start_time']
        if 'sort_created_at' in params:
            query_params['sort[created_at]'] = params['sort_created_at']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'offset' in params:
            query_params['offset'] = params['offset']
        if 'fields' in params:
            query_params['fields'] = params['fields']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ListCallLogs',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
