/*
 * Phone.com API
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ListCallerIds;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CallerIdsApi {
    private ApiClient apiClient;

    public CallerIdsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CallerIdsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getCallerIds */
    private com.squareup.okhttp.Call getCallerIdsCall(Integer accountId, Integer extensionId, List<String> filtersNumber, List<String> filtersName, String sortNumber, String sortName, Integer limit, Integer offset, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/accounts/{account_id}/extensions/{extension_id}/caller-ids".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "account_id" + "\\}", apiClient.escapeString(accountId.toString()))
        .replaceAll("\\{" + "extension_id" + "\\}", apiClient.escapeString(extensionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (filtersNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[number]", filtersNumber));
        if (filtersName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[name]", filtersName));
        if (sortNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sort[number]", sortNumber));
        if (sortName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sort[name]", sortName));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCallerIdsValidateBeforeCall(Integer accountId, Integer extensionId, List<String> filtersNumber, List<String> filtersName, String sortNumber, String sortName, Integer limit, Integer offset, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling getCallerIds(Async)");
        }
        
        // verify the required parameter 'extensionId' is set
        if (extensionId == null) {
            throw new ApiException("Missing the required parameter 'extensionId' when calling getCallerIds(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getCallerIdsCall(accountId, extensionId, filtersNumber, filtersName, sortNumber, sortName, limit, offset, fields, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Show the Caller ID options a given extension can use
     * Get Caller ID
     * @param accountId Account ID (required)
     * @param extensionId Extension ID (required)
     * @param filtersNumber Number filter (optional)
     * @param filtersName Name filter (optional)
     * @param sortNumber Number sorting (optional)
     * @param sortName Name sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @return ListCallerIds
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ListCallerIds getCallerIds(Integer accountId, Integer extensionId, List<String> filtersNumber, List<String> filtersName, String sortNumber, String sortName, Integer limit, Integer offset, String fields) throws ApiException {
        ApiResponse<ListCallerIds> resp = getCallerIdsWithHttpInfo(accountId, extensionId, filtersNumber, filtersName, sortNumber, sortName, limit, offset, fields);
        return resp.getData();
    }

    /**
     * Show the Caller ID options a given extension can use
     * Get Caller ID
     * @param accountId Account ID (required)
     * @param extensionId Extension ID (required)
     * @param filtersNumber Number filter (optional)
     * @param filtersName Name filter (optional)
     * @param sortNumber Number sorting (optional)
     * @param sortName Name sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @return ApiResponse&lt;ListCallerIds&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ListCallerIds> getCallerIdsWithHttpInfo(Integer accountId, Integer extensionId, List<String> filtersNumber, List<String> filtersName, String sortNumber, String sortName, Integer limit, Integer offset, String fields) throws ApiException {
        com.squareup.okhttp.Call call = getCallerIdsValidateBeforeCall(accountId, extensionId, filtersNumber, filtersName, sortNumber, sortName, limit, offset, fields, null, null);
        Type localVarReturnType = new TypeToken<ListCallerIds>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Show the Caller ID options a given extension can use (asynchronously)
     * Get Caller ID
     * @param accountId Account ID (required)
     * @param extensionId Extension ID (required)
     * @param filtersNumber Number filter (optional)
     * @param filtersName Name filter (optional)
     * @param sortNumber Number sorting (optional)
     * @param sortName Name sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCallerIdsAsync(Integer accountId, Integer extensionId, List<String> filtersNumber, List<String> filtersName, String sortNumber, String sortName, Integer limit, Integer offset, String fields, final ApiCallback<ListCallerIds> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCallerIdsValidateBeforeCall(accountId, extensionId, filtersNumber, filtersName, sortNumber, sortName, limit, offset, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ListCallerIds>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
