/*
 * Phone.com API
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ListAvailableNumbersFull;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AvailablenumbersApi {
    private ApiClient apiClient;

    public AvailablenumbersApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AvailablenumbersApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for listAvailablePhoneNumbers */
    private com.squareup.okhttp.Call listAvailablePhoneNumbersCall(List<String> filtersPhoneNumber, List<String> filtersCountryCode, List<String> filtersNpa, List<String> filtersNxx, List<String> filtersXxxx, List<String> filtersCity, List<String> filtersProvince, List<String> filtersCountry, List<String> filtersPrice, List<String> filtersCategory, List<String> filtersIsTollFree, String sortInternal, String sortPrice, String sortPhoneNumber, Integer limit, Integer offset, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/phone-numbers/available".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (filtersPhoneNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[phone_number]", filtersPhoneNumber));
        if (filtersCountryCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[country_code]", filtersCountryCode));
        if (filtersNpa != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[npa]", filtersNpa));
        if (filtersNxx != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[nxx]", filtersNxx));
        if (filtersXxxx != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[xxxx]", filtersXxxx));
        if (filtersCity != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[city]", filtersCity));
        if (filtersProvince != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[province]", filtersProvince));
        if (filtersCountry != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[country]", filtersCountry));
        if (filtersPrice != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[price]", filtersPrice));
        if (filtersCategory != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[category]", filtersCategory));
        if (filtersIsTollFree != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("multi", "filters[is_toll_free]", filtersIsTollFree));
        if (sortInternal != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sort[internal]", sortInternal));
        if (sortPrice != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sort[price]", sortPrice));
        if (sortPhoneNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sort[phone_number]", sortPhoneNumber));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAvailablePhoneNumbersValidateBeforeCall(List<String> filtersPhoneNumber, List<String> filtersCountryCode, List<String> filtersNpa, List<String> filtersNxx, List<String> filtersXxxx, List<String> filtersCity, List<String> filtersProvince, List<String> filtersCountry, List<String> filtersPrice, List<String> filtersCategory, List<String> filtersIsTollFree, String sortInternal, String sortPrice, String sortPhoneNumber, Integer limit, Integer offset, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = listAvailablePhoneNumbersCall(filtersPhoneNumber, filtersCountryCode, filtersNpa, filtersNxx, filtersXxxx, filtersCity, filtersProvince, filtersCountry, filtersPrice, filtersCategory, filtersIsTollFree, sortInternal, sortPrice, sortPhoneNumber, limit, offset, fields, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param filtersPhoneNumber Phone number filter (optional)
     * @param filtersCountryCode Country Code filter (optional)
     * @param filtersNpa Area Code filter (North America only) (optional)
     * @param filtersNxx 2nd set of 3 digits filter (North America only) (optional)
     * @param filtersXxxx NANP XXXX filter (optional)
     * @param filtersCity City filter (optional)
     * @param filtersProvince State or Province (postal code) filter (optional)
     * @param filtersCountry Country (postal code) filter (optional)
     * @param filtersPrice Price filter (optional)
     * @param filtersCategory Category filter (optional)
     * @param filtersIsTollFree Toll-free status filter (optional)
     * @param sortInternal Internal (quasi-random) sorting (optional)
     * @param sortPrice Price sorting (optional)
     * @param sortPhoneNumber Phone number sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @return ListAvailableNumbersFull
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ListAvailableNumbersFull listAvailablePhoneNumbers(List<String> filtersPhoneNumber, List<String> filtersCountryCode, List<String> filtersNpa, List<String> filtersNxx, List<String> filtersXxxx, List<String> filtersCity, List<String> filtersProvince, List<String> filtersCountry, List<String> filtersPrice, List<String> filtersCategory, List<String> filtersIsTollFree, String sortInternal, String sortPrice, String sortPhoneNumber, Integer limit, Integer offset, String fields) throws ApiException {
        ApiResponse<ListAvailableNumbersFull> resp = listAvailablePhoneNumbersWithHttpInfo(filtersPhoneNumber, filtersCountryCode, filtersNpa, filtersNxx, filtersXxxx, filtersCity, filtersProvince, filtersCountry, filtersPrice, filtersCategory, filtersIsTollFree, sortInternal, sortPrice, sortPhoneNumber, limit, offset, fields);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param filtersPhoneNumber Phone number filter (optional)
     * @param filtersCountryCode Country Code filter (optional)
     * @param filtersNpa Area Code filter (North America only) (optional)
     * @param filtersNxx 2nd set of 3 digits filter (North America only) (optional)
     * @param filtersXxxx NANP XXXX filter (optional)
     * @param filtersCity City filter (optional)
     * @param filtersProvince State or Province (postal code) filter (optional)
     * @param filtersCountry Country (postal code) filter (optional)
     * @param filtersPrice Price filter (optional)
     * @param filtersCategory Category filter (optional)
     * @param filtersIsTollFree Toll-free status filter (optional)
     * @param sortInternal Internal (quasi-random) sorting (optional)
     * @param sortPrice Price sorting (optional)
     * @param sortPhoneNumber Phone number sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @return ApiResponse&lt;ListAvailableNumbersFull&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ListAvailableNumbersFull> listAvailablePhoneNumbersWithHttpInfo(List<String> filtersPhoneNumber, List<String> filtersCountryCode, List<String> filtersNpa, List<String> filtersNxx, List<String> filtersXxxx, List<String> filtersCity, List<String> filtersProvince, List<String> filtersCountry, List<String> filtersPrice, List<String> filtersCategory, List<String> filtersIsTollFree, String sortInternal, String sortPrice, String sortPhoneNumber, Integer limit, Integer offset, String fields) throws ApiException {
        com.squareup.okhttp.Call call = listAvailablePhoneNumbersValidateBeforeCall(filtersPhoneNumber, filtersCountryCode, filtersNpa, filtersNxx, filtersXxxx, filtersCity, filtersProvince, filtersCountry, filtersPrice, filtersCategory, filtersIsTollFree, sortInternal, sortPrice, sortPhoneNumber, limit, offset, fields, null, null);
        Type localVarReturnType = new TypeToken<ListAvailableNumbersFull>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param filtersPhoneNumber Phone number filter (optional)
     * @param filtersCountryCode Country Code filter (optional)
     * @param filtersNpa Area Code filter (North America only) (optional)
     * @param filtersNxx 2nd set of 3 digits filter (North America only) (optional)
     * @param filtersXxxx NANP XXXX filter (optional)
     * @param filtersCity City filter (optional)
     * @param filtersProvince State or Province (postal code) filter (optional)
     * @param filtersCountry Country (postal code) filter (optional)
     * @param filtersPrice Price filter (optional)
     * @param filtersCategory Category filter (optional)
     * @param filtersIsTollFree Toll-free status filter (optional)
     * @param sortInternal Internal (quasi-random) sorting (optional)
     * @param sortPrice Price sorting (optional)
     * @param sortPhoneNumber Phone number sorting (optional)
     * @param limit Max results (optional)
     * @param offset Results to skip (optional)
     * @param fields Field set (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAvailablePhoneNumbersAsync(List<String> filtersPhoneNumber, List<String> filtersCountryCode, List<String> filtersNpa, List<String> filtersNxx, List<String> filtersXxxx, List<String> filtersCity, List<String> filtersProvince, List<String> filtersCountry, List<String> filtersPrice, List<String> filtersCategory, List<String> filtersIsTollFree, String sortInternal, String sortPrice, String sortPhoneNumber, Integer limit, Integer offset, String fields, final ApiCallback<ListAvailableNumbersFull> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAvailablePhoneNumbersValidateBeforeCall(filtersPhoneNumber, filtersCountryCode, filtersNpa, filtersNxx, filtersXxxx, filtersCity, filtersProvince, filtersCountry, filtersPrice, filtersCategory, filtersIsTollFree, sortInternal, sortPrice, sortPhoneNumber, limit, offset, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ListAvailableNumbersFull>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
